<!-- Skeleton for table rows -->
<div ng-if="c.loading">
    <div class="skeleton-table-row" style="grid-template-columns: 50px 1fr 120px 120px 100px; padding: 16px; align-items: center;" ng-repeat="i in [1,2,3,4,5]">
        <div class="skeleton skeleton-avatar-sm"></div>
        <div class="skeleton skeleton-text" style="width: 80%;"></div>
        <div class="skeleton skeleton-text-sm" style="width: 90%;"></div>
        <div class="skeleton skeleton-text-sm" style="width: 85%;"></div>
        <div class="skeleton skeleton-icon" style="margin-left: auto;"></div>
    </div>
</div>
